/* Formatting for buttons */

.search-btn {

  background-color: #527472;
  color: #E5E5E5;
  width: 3em;
  height: 2.2em;
  margin: 0 0 0 1em;
  font-size: 1em;
  border: none;
  border-radius: 1.5em;
  transition-duration: 0.4s;

}

.btn,
.read-more-btn {

  background-color: #527472;
  color: #E5E5E5;
  width: 7em;
  height: 2.2em;
  margin: 1.2em 0 1.2em 0;
  font-size: 1em;
  border: none;
  border-radius: 1.5em;
  transition-duration: 0.4s;

}

.btn:hover,
.read-more-btn:hover,
.search-btn:hover {

  background-color: #729c99;
  font-weight: 900;

}

.share-section,
.previous-next {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  }
